
<% content_for :page_title do %>
    <%= plural_resource_name(Spree::PropertyType) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new_property_type), new_object_url, { class: "btn-success", icon: 'add', 'data-update' => 'new_property_type', id: 'new_property__type_link' } %>
<% end %>


<table class="table table-hover" id='listing_property-types' data-hook>
  <colgroup>
    <col style="width: 25%" />
    <col style="width: 25%" />
    <col style="width: 35%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
  <tr data-hook="property_type_header">
    <th><%= Spree.t(:name) %></th>
    <th><%= Spree.t(:presentation) %></th>
    <th><%= Spree.t(:show) %></th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @property_types.each do |property_type|
    @edit_url = edit_admin_property_type_path(property_type)
    @delete_url = admin_property_type_path(property_type)
  %>
    <tr id="<%= spree_dom_id property_type %>" data-hook="property_type_row" class="<%= cycle('odd', 'even')%>">
      <td><%= property_type.name %></td>
      <td><%= property_type.presentation %></td>
      <td><%= property_type.show_types.join('<br>').html_safe %></td>
      <td class="actions">
        <%= link_to_edit property_type, :no_text => true %>
        <%= link_to_delete property_type, :no_text => true %>
    </tr>
  <% end %>
  <% if @property_types.empty? %>
    <tr data-hook="property_type_none"><td colspan="4"><%= Spree.t(:none) %></td></tr>
  <% end %>
  </tbody>
</table>
